$break-large: 769px;

.gameWrapper {
  display: inline-block;
}

.gameContainer {
  display: grid;
  height: 100%;
  width: 100vw; 
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 10% min-content 7% 7%;
  grid-gap: 5px;
  grid-template-areas:
    'navArea'
    'board'
    'deadPool'
    'tags';

  @media screen and (min-width: $break-large) {
    display: inline-grid;
    height: 100%;
    flex-direction: column;
    grid-template-columns: 60%;
    grid-template-rows: 6% 1fr 10% 10%;
    grid-gap: 15px;
    grid-auto-flow: dense;

    grid-template-areas:
      'tags'
      'board '
      'tags'
      'deadPool';
  }
}

.board {
  width: 100%;
  max-width: 515px;
  margin: auto;
  grid-area: board;
}

.deadPool {
  background-color: blue;
  grid-area: deadPool;
}

.nav {
  padding: 2%;
  border-bottom: 1px solid black;
  grid-area: navArea;
}

.controlBarContent {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.arrowsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.arrows {
  display: flex;
  align-items: center;
}

.chessNavButton , .arrows {
  height: 70%;
  padding-left: 15px;
  padding-right: 15px;  
  border-radius: 10px;
}

.arrows ~ .arrows {
  margin-left: 10px;
}

.gameTags {
  display: flex;
  justify-content: space-around;
}

.controlTagContainer {
  display: flex;
  flex-direction: column;
}

.userIcon {
  width: 100%;
  margin: auto;
}

.deadPool {
  display: grid;
  grid-template-rows: 50% 50%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.killedPiece {
  height: 90%;
}

.killedPiecesLine {
  display: flex;
  justify-content: flex-start;
}
