$break-small: 450px;
$break-large: 1000px;

.navMainElement {
  width: 100%;
  background-color: rgb(219, 238, 201);
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 2px;
  color: black;
  height: 120px;
  width: 360px;
  font-size: 35px;
  @media screen and (min-width: $break-large) {
    font-size: 15px;
    height: 60px;
    width: 180px;
  }
}

.navMainElement:hover {
  background-color: beige;
}

.navMainRow {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  margin-bottom: 20%;
}

.pageContainer {
  height: 80%;
}

.homeNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.navTitle {
  margin: auto;
}
