$break-small: 450px;
$break-large: 1000px;

.centerHorizontaly {
  display: flex;
  justify-content: center;
}

.marginBottom {
  margin-bottom: 50px;
}

.gameIdWell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 150px;
  font-size: 30px;
  padding: 15px;
  @media screen and (min-width: $break-large) {
    margin-bottom: 50px;    
  }
}

.marginBottomDouble {
  margin-bottom: 200px;
  @media screen and (min-width: $break-large) {
    margin-bottom: 100px;    
  }
}

.generateButton {
  height: 60px;
  width: 200px;
  font-size: 30px;
}

.notificationLine {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.notificationLineBottom {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.marginBottomMedium {
  margin-bottom: 20px;
}

.waitingForPeer {
  font-size: 20px;
}

.waitingElement {
  margin: 30px auto 0 auto;
}

.bottomMarginExtra {
  margin-bottom: 200px;
  @media screen and (min-width: $break-large) {
    margin-bottom: 30px;    
  }
}

.textAlignCenter {
  text-align: center;
}