$break-small: 450px;
$break-large: 1000px;

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered > * {
  margin-top: 40px;
  margin-bottom: 40px;
}

.button {
  padding: 30px;
}

h1, h2, h3, h4 {
  text-align: center;
}

