.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.appName {
  display: flex;
  align-items: flex-end;
}