$break-small: 450px;
$break-large: 1000px;

.columnOrder {
  display: flex;
  flex-direction: column;
}

.marginBottom {
  margin-bottom: 50px;
}

.centerHorizontaly {
  display: flex;
  justify-content: center;
}

.joinButton {
  height: 60px;
  width: 200px;
  font-size: 30px;
}