$break-large: 1000px;

.App {
  display: grid;
  height: 100%;
  grid-template-rows: 15% 80% 5%;
  grid-template-columns: auto 90% auto;
  grid-template-areas:
  " . header . "
  " . content . "
  " . footer . ";

  @media screen and (min-width: $break-large) {
    grid-template-columns: auto 65% auto;
  }

}

.header {
  display: flex;
  align-items: center;
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.content {
  grid-area: content;
}
